@import './fonts/fonts.css';
@import url("https://use.typekit.net/lsl8ima.css");

/* Theme Colors and Styles */
:root {
  --theme-color: #E810D6;
  --theme-dark: #7e07ad;
  --theme-light: #e333ff;
  --comp-color: #E6E81C;
  --comp-dark: #dbc200;
  --comp-light: #f0ee26;
  --main-text-color: #343a40;
  --secondary-text-color: #5e6164;
  --backgound-white: #FAFAF5;
  --theme-text-shadow: 2px 2px 2px var(--theme-dark),4px 4px 5px #099942;
  --theme-text-highlight: 2px 2px 2px var(--theme-color),5px 5px 5px var(--comp-color);
  --theme-box-shadow: 1px .25rem .5rem 0 var(--theme-dark), 0 .5rem 1rem 0 var(--comp-dark);
  --theme-box-highlight: 1px .25rem .5rem 0 var(--theme-color), 0 .5rem 1rem 0 var(--comp-color);
  --theme-box-border: 2px solid var(--theme-color);
  --body-font: adelle-sans, sans-serif;
  --nav-link-font: thunderstormregular, sans-serif;
  --headline-font: thunderstormregular, sans-serif;
}

/* Universals */

html {
  box-sizing: border-box;
  line-height: 1.6;
  color: #343a40;
  font-family: var(--body-font);
  min-height: 100vh;
  background-color: var(--backgound-white);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  color: var(--theme-color);
  font-family: var(--headline-font);
  text-shadow: var(--theme-text-shadow);
  margin: .5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.content-container a {
  color: var(--theme-color);
  text-decoration: none;
  font-weight: bold;
}

.content-container a:hover {
  color: var(--theme-light);
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--comp-color);
  overflow: hidden;
  color:var(--comp-color);
  z-index: 5;
  box-shadow: var(--theme-box-shadow);
  transition: top 0.3s;
}

a.nav-link {
  display: none;
  padding: 1rem 1rem;
  text-decoration: none;
  line-height: 1;
  float: left;
  border: none;
  color: var(--theme-color);
  font-size: 2rem;
}

.navbar.responsive {
  position: sticky;
}

.navbar.responsive .nav-link {
  float: none;
  display: block;
  text-align: left;
}

.navbar.responsive .navbar-items {
  display: block;
}

.navbar-items {
  max-width: 864px;
  display: flex;
  align-items: center;
  font-family: var(--nav-link-font);
  text-shadow: var(--theme-text-shadow);
}

.nav-link:hover {
  text-shadow: var(--theme-text-highlight);
  color: var(--theme-light);
}

.navbar-items button.icon {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 4rem;
  width: 4rem;
  background: none;
  border: none;
  font-size: 3rem;
}

.navbar-items button.icon:active {
  border: none;
  outline: none;
}

.navbar-items button.icon:focus {
  border: none;
  outline: none;
}

.navbar-container {
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.brand-icon {
  max-height: 4.2rem;
  width: 15rem;
}

@media screen and (min-width: 816px) {
  a.nav-link {
    display: block;
  }
  .navbar-items button.icon {
    display: none;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    max-width: 1400px;
    align-items: center;
  }
  .brand-icon {
    max-height: 8.2rem;
    width: 30rem;
  }
  
}

.brand {
  display: flex;
}



.brand:hover {
  border-bottom: none;
}

.navbar.responsive .brand  {
  padding: .75rem 0;
}

/* content */

.content-container {
  margin: auto;
  max-width: 1239px;
  padding: 1.5rem;
}

img {
  max-width: 272px;
}

.content-container p {
  margin: 0 auto 1rem;
}

@media screen and (min-width: 816px) {

  .content-container {
    padding: 2rem;
  }
  img {
    max-width: 816px;
    margin: 0 auto;
  }
  .sidebar {
    margin-left: 2rem;
  }
  .project-container {
    display: flex;
  }
}

.sidebar {
  min-width: 272px;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
}

.top-five {
  align-items: center;
  padding: 2rem;
  margin: .75rem auto;
  width: 375px;
  box-shadow: 1px .25rem .5rem 0 #7d2785, 0 .5rem 1rem 0 #e8da11;
  border: 2px solid #cb11e8;
  flex: 1;
}

@media screen and (min-width: 816px) {
  .top-five {
    flex: 0 0 calc(50% - 24px);
  }
}

.top-five-title {
  text-align: center;
}

.project-log-container {
  border: 2px solid #cb11e8;
  box-shadow: 1px .25rem .5rem 0 #7d2785, 0 .5rem 1rem 0 #e8da11;
  align-items: center;
  padding: 30px;
  margin-bottom: 1rem;
}

.notice-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.copyright {
  margin: 0;
}

.post-tag-container {
  border: 2px solid #cb11e8;
  box-shadow: 1px .25rem .5rem 0 #7d2785, 0 .5rem 1rem 0 #e8da11;
  align-items: center;
  padding: 30px;
  margin-bottom: 1rem;
}

.post-tag-container a:hover {
  border: none;
}

.pac-man-go-title {
  font-family: pacfontregular;
  color: #FFFF00;
}

.dev-site-title {
  font-family: sf_alien_encountersitalic;
  font-weight: normal;
}

.tag-button {
  background-color: var(--theme-color);
  color: var(--comp-color);
  border: 1px outset var(--theme-dark);
  padding: .5rem;
  box-shadow: var(--theme-box-shadow);
  margin: .25rem;
  font-weight: bold;
}

.tag-button:hover {
  background-color: var(--theme-light);
  color: var(--comp-light);
  border: 1px outset var(--theme-color);
  box-shadow: var(--theme-box-highlight);

}

.featured-tag {
  display: none;
}

a.anchor.before {
  display: none;
}