@import './fonts/fonts.css';

html {
  box-sizing: border-box;
  line-height: 1.6;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin-top: 0;
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: oldlace;
  overflow: hidden;
}

.nav-link:not(:first-child) {display: none;}

.nav-link {
  padding: 1rem 1rem;
  text-decoration: none;
  line-height: 1;
  display: block;
  float: left;
}

.navbar.responsive {position: relative;}
.navbar.responsive button.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar.responsive .nav-link {
  float: none;
  display: block;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .nav-link:not(:first-child) {
    display: block;
  }
}

.navbar-items button.icon {
  float: right;
  display: block;
  height: 3rem;
  width: 3rem;
}

@media screen and (min-width: 800px) {
  .navbar-items button.icon {
    display: none;
  }
}
.brand-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.brand.nav-link  {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sf_alien_encountersitalic;
  padding: .75rem;
  align-items: center;
  display: flex;
  width: fit-content;
}

.navbar.navbar.responsive .brand.nav-link  {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sf_alien_encountersitalic;
  padding: .75rem;
  align-items: center;
  display: flex;
  width: fit-content;
}

h1 {
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  margin: 2rem;
  max-width: 800px;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.top-five {
  align-items: center;
  padding: 2rem;
  border: 2px solid #efefef;
  border-radius: 5px;
  margin: 1rem;
  width: 337px;
}

.top-five-title {
  text-align: center;
}

